language: java

jdk:
  - openjdk8
  - oraclejdk8

sudo: required

if: tag IS blank # do not build tags

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  # Check if readme has been generated
  - gradle markdown
  - test -z "$(git diff --name-only | grep '^README.md$')"

  - gradle javadoc
  - test -z "$(git diff --name-only | grep 'docs/')"

  - gradle check
  - gradle jacocoTestReport
  - bash <(curl -s https://codecov.io/bash) -cF test
  - gradle jacocoIntegrationReport
  - bash <(curl -s https://codecov.io/bash) -cF integration

services:
  - docker

stages:
  - test
  - name: tag
    if: branch = master
  - name: publish
    if: branch = master

jobs:
  include:
    - stage: tag
      language: generic
      install: false
      script:
        - git config --global user.email "ci@smartcar.com"
        - git config --global user.name "Travis CI User"
        - export SDK_VERSION=$(cat gradle.properties | grep -E '^libVersion=.*$' | sed 's/^libVersion=//')
        - if [ "${TRAVIS_BRANCH}" = "master" ]; then git tag -a "v${SDK_VERSION}" -m "Travis Generated Tag"; fi
      deploy:
        - provider: script
          skip_cleanup: true
          script: echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc && git push origin "v${SDK_VERSION}"
    - stage: publish
      language: java
      jdk: openjdk8
      script: true
      deploy:
        - provider: script
          skip_cleanup: true
          script: gradle bintrayUpload
