name: Javadoc Publisher

permissions:
  contents: write

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - name: Set up JDK
        uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Generate Javadoc
        run: ./gradlew javadoc

      - name: Publish to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@15de0f09300eea763baee31dff6c6184995c5f6a
        with:
          folder: docs
